@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D3D3D3;
}

html {
    background-color: #0E0E0E;
    scroll-behavior: smooth;
    height: 100vh;
}

body{
    height: 100vh;
}

section {
    width: 100%;
}

a {
    text-decoration: none;
}





/*//// HEADER ////*/
header{
    width: 100%; height: 95vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .bg_img {
    width: 100%; 
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: linear-gradient(transparent, #0E0E0E), url("../images/capa-lago.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
}

header .container_titulo {
    width: 470px; height: 250px;
    
    display: flex;
    align-items: center;
    text-align: center;
 
    position: relative;
}


header .container_titulo .titulo_capa {
    font-weight: 400;
    font-style: normal;
    font-size: 5.8520rem;
    text-align: center;
    margin: auto;
    letter-spacing: 1px;
}

header .container_titulo .palavra1 {
    font-family: "Bebas Neue", sans-serif; /* NAO MEXER NA FONTE */
    color: #FFFFFF;
    
    position: absolute;
    top: 10px;
    left: -16%;
    z-index: -1;
}

header .container_titulo #e_comercial {
    font-family: "Abril fatface", serif;
    font-weight: 400;
    font-style: normal;
    color: #477ad0;
    z-index: 0;
}

header .container_titulo .palavra2 {
    font-family: "Bebas Neue", sans-serif; /* NAO MEXER NA FONTE */
    color: #FFFFFF;
    
    position: absolute;
    top: 52%;
    right: -3%;
    z-index: 1;
}

header .container_titulo .arara_maior {
    width: 60%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: 3;
}

header .container_titulo .arara_menor {
    width: 174px;
    position: absolute;
    right: -50px;
    bottom: -70px;
    z-index: 3;
}

@media (max-width: 750px) {
    header .container_titulo {
        width: 240px; height: 250px;
    }
    header .container_titulo .titulo_capa {
        font-size: 50pt;
        line-height: 40px;
    }
    
    header .container_titulo .palavra1 {
        position: static;
        line-height: 30px;
    }
    header .container_titulo #e_comercial {
        line-height: 30px;
    }
    header .container_titulo .palavra2 {
        line-height: 30px;
        position: static;
    }
    header .container_titulo .arara_maior {
        width: 70%;
        left: -20%;
        top: -15%;
    }
    
    header .container_titulo .arara_menor {
        width: 120px; 
        right: -20px;
        bottom: -30px;
    }
}


/* MENU */

#btn-menu{
    z-index: 77777;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    
}

.btn-fechar{
    padding: 5px;
    cursor: pointer;

}


.menu-mobile{
    background-color: #01342f;
    position: fixed;
    right: 0;
    width: 0%;
    overflow: hidden;
    height: 100%;
    z-index: 99999;
    transition: .5s;

    & nav{
        position: absolute;
        top: 20%;
        height: 40%;
        width: 100%;

        & ul{
            height: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            & li{
                padding: 10px;
                display: flex;
                align-items: center;
                height: 100%;
                border: 1px solid transparent;
                transition: .5s;
            
                &:hover{
                    border-bottom: 1px solid rgb(128, 128, 128);
                }

                & a{
                    color: #f5f5f5;
                }
            }
        }
    }
}

.overlay-menu{
    position: fixed;
    z-index: 88888;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.764);
    display: none;
    transition: .5s;

}

.menu-mobile.abrir-menu{
    width: 70%;

    ~ .overlay-menu{
        display: block;
    }
}

@media (min-width: 576px) {
    .overlay-menu{
        background-color: rgba(0, 0, 0, 0.453);
    }

    .menu-mobile.abrir-menu{
        width: 30%;
    }
}

/* Fim MENU */